<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">What we do.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Theatre</h4>
                    <p class="text-muted">Prominent theatre artists have collaborated with national school of drama to revive and relive the art of theatre. Actors are bred and trained in house with NSD level training. Stay tuned for our next production which is coming soon!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Films</h4>
                    <p class="text-muted">Tamasha entertainment is working towards gathering resources right from editing, screenplay, direction in collaboration with Anugat Raj under a single roof to produce films par excellence.Upcoming Project Abholi. Stay Tuned!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-video-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Workshop</h4>
                    <p class="text-muted">Tamasha workshops have been researched,designed and held by National School of Drama alumnus like Happy Ranjit(2007) and Vivek Ram(2014) to make the actors production ready in a fun way. Next batch Starting soon!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Corporate</h4>
                    <p class="text-muted">Tamasha Corporate shows are engaging and hilarious take on the world. The shows are designed as per the requirement of the company by National School of Drama Alumnus. Please contact us to book your show now!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Kids</h4>
                    <p class="text-muted">Tamasha kids is a well researched workshop that gives children an insight into the world of theatre and performing arts. The course is handmade by professionals to ensure that the children have a great learning experience.</p>
                </div>
            </div>
        </div>
    </section>