<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">What we do.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Theatre</h4>
                    <p class="text-muted">Some of the most prominent theatre artists have collaborated with national school of drama to revive the art of theatre. The actors are bred in house with NSD level training to make sure we produce impeccable shows. Stay tuned for our next production which is coming soon!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Films</h4>
                    <p class="text-muted">Our aim is to produce films that are par excellence. Tamasha entertainment is working towards gathering all resources right from editing, screenplay, photography under one single roof. This is in association with Anugat Raj films under which the movie Pages 321 is a critically acclaimed success. The next production in line is Abholi. Please stay tuned for further updates…</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Workshop</h4>
                    <p class="text-muted">The workshops have been designed in collaboration with national school of drama alumunus to make the participants production ready. It is to ensure that we are able to train the actors to reach a level of excellence. These workshops give direct entry into the tamasha productions circuit be it Films or theatre. The current workshop is going on with Vivek Ram kanojia as an instructor. He is a 2014 pass out of NSD and his play Welcome Zindagi was awarded the best play in the year 2016.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Corporate</h4>
                    <p class="text-muted">We have a wide range of corporate shows ready. The shows can be designed depending on the requirement of the corporate. Our show Park written by Manav kaul has been a hit in various companies for its hilarious satirical take on our society. It was last performed for EDU3 in Radisson Hotel Dwarka.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tamasha Kids</h4>
                    <p class="text-muted">We strongly believe that the way to incorporate theatre and performing arts into the society is to cater to children. Tamasha kids is a kid oriented workshop that gives children an early insight into the world of theatre and performing arts. The course is handmade by professionals to ensure that the children have a great experience.</p>
                </div>
            </div>
        </div>
    </section>